* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Pretendard', sans-serif;
    background-color: #f9f9f9;
  }
  
  .dashboard {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed; /* Fixed sidebar on the left */
    top: 0;
    left: 0;
    height: 100%; /* Full height */
    border-right: 1px solid #e5e5e5;
    
  }
  .logo {
    width: 250px;
    margin-bottom: 30px;
  }
  
  .menu {
    list-style: none;
    width: 100%;
  }
  
  .menu li {
    margin: 15px 0;
  }
  
  .menu a {
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  
  .menu a span {
    margin-left: 10px;
  }
  
  .menu a:hover,
  .menu a.active {
    background-color: #f0f0f0;
    color: #000000;
  }
  
  .user {
    margin-left: -50px;
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .username {
    font-size: 16px;
    color: #333333;
  }
  .main-content {
    width: 800px;
    flex: 1;
    padding: 30px;
    margin-left: 20%; /* Matches the sidebar width */
  }
  h1 {
    color: #333;
    margin-top: 50px;
  }
  #co2-value {
    font-size: 2em;
    color: #4CAF50;
    margin: 20px 0;
  }
  .status {
    font-size: 1.2em;
    color: #555;
  }